.userNavbar {
  height: 40px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 5px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  height: 80vh;
  width: 40vw;
  position: absolute;
  flex-direction: column;
  transition: left 0.5s ease-out;
  left: -145px;
  z-index: 2;
  background-color: #f7f5fa;
}

.dropDownLinksContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
}

.dropDownLinks {
  border-bottom: 1px solid black;
  text-decoration: none;
  padding: 15px 15px;
  color: #0e1d33;
  font-weight: bold;
  font-size: 18px;
}

.dropdown:hover .dropdown-content {
  left: -15px;
}

.userNavbarLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 3px 6px;
  border-radius: 5px;
  color: black;
}
